**/.env
*.env
.env.*
!**/.env.example

main
*.exe
*.test
*.out


pgdata/
_data
/_data/


coverage.out
coverage.html
profile.out

**/.idea/
**/.vscode/


**/*.swp
**/*~


.DS_Store
Thumbs.db
*.mk
**/*.mk